<body id="paginaLogin">
    <main>
       <div id="tituloLogin" class="prevenirSelect">
           <h3>MOCIDADE VITORIOSA</h3>
           <img src="assets/media/logos/logo-movit.png" width="600px">
       </div>
       <h6 class="prevenirSelect">Realize seu login para continuar</h6>
       <div id="loginForm">
           <form action="" method="POST" [formGroup]="loginForm" (submit)="logarUsuario()">
               <div id="usuarioForm">
                   <label class="imgUsuario" for="usuarioLogin">Usuario</label>
                   <input class="inputLogin" formControlName="email" type="text" placeholder="Login" id="usuarioLogin" required>
               </div>
               <div id="senhaForm">
                   <label class="imgSenha" for="senhaLogin">Senha</label>
                   <input class="inputLogin" formControlName="senha" type="password" id="senhaLogin" placeholder="Senha" required>
               </div>
               <div id="botaoLogin">
                   <button type="submit" value="submitLogin" [attr.disabled]="loginForm.invalid || null">ENTRAR</button>
               </div>
           </form>
       </div>
    </main>
</body>