<body id="paginaLogin">
    <main>
       <div id="tituloLogin" class="prevenirSelect">
           <h3>MOCIDADE VITORIOSA</h3>
           <img src="assets/media/logos/logo-movit.png" width="600px">
       </div>
       <h6 class="prevenirSelect">Realize seu login para continuar</h6>
       <div id="loginForm">

           <form action="" method="POST">
               <div id="usuarioForm">
                   <label class="imgUsuario" for="usuarioLogin">Usuario</label>
                   <input class="inputLogin" type="text" placeholder="Login" id="usuarioLogin" required>
               </div>

               <div id="senhaForm">
                   <label class="imgSenha" for="senhaLogin">Senha</label>
                   <input class="inputLogin" type="password" id="senhaLogin" placeholder="Senha" required>
               </div>

               <div id="botaoLogin">
                   <button type="submit" value="submitLogin">ENTRAR</button>
               </div>
           </form>
       </div>
    </main>
   </body>