<header id="headerInicio">
    <div id="logo-movit"><a href="#"><img src="assets\media\logos\logo-movit.png"></a></div>
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="">A Igreja</a></li>
            <li class="dropmenu">
                <a href="#">Conteúdos &#11206;</a>
                <ul  class="dropdown">
                    <li><a href="">Bíblia Sagrada</a></li> 
                    <li><a href="">x</a></li>
                </ul>
            </li>
            <li class="dropmenu">
                <a href="#">Mídias &#11206;</a>
                <ul  class="dropdown">
                    <li><a href="">x</a></li> 
                    <li><a href="">x</a></li>
                    <li><a href="">x</a></li>
                </ul>
            </li>
            <li class="dropmenu">
                <a href="#">Agendas &#11206;</a>
                <ul  class="dropdown">
                    <li><a href="">Eventos</a></li> 
                    <li><a href="">Cantina</a></li>
                </ul>
                </li>   
            <li><a href="">Portal</a></li>
            <li><a class="contrib" href="">CONTRIBUA</a></li>
        </ul>
    </nav>

    <div class="sobre">
        <h5>SEJAM BEM-VINDOS À IGREJA ASSEMBLEIA DE DEUS</h5>
        <h4>QUEM SOMOS</h4>
    </div>
</header>
